@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-toggle {
  width: 35px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: white;
  transition: transform 0.3s, opacity 0.3s;
  /* border-radius: 25px; */
}

.menu-open .bar1 {
  transform: rotate(25deg) translateY(4px);
}

.menu-open .bar2 {
  opacity: 0;
}

.menu-open .bar3 {
  transform: rotate(-25deg) translateY(-4px);
}

.menu-open {
  height: 10px;
}

#footer {
  background: url("https://www.destinationhomes.com/images/footer-bg.jpg");
}

.active {
  background: #000;
}

.in-active {
  background: gray;
}



.photo-gallary{
  transition: transform 0.4s ease-out;

}

.photo-gallary::after{
  content: '';
  display: block;
  background: black;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease-out;
}

.photo-gallary:hover{
  transform: scale(1.1);
  transition: transform 0.4s ease;
}
.photo-gallary:hover::after{
  content: '';
  display: block;
  background: red;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease-out;
}
